# 系统文件
.DS_Store

# 目标目录
target/
linux-release/

# 子项目
sol-parser-sdk/
sol-safekey/
sol-trade-sdk/
solana-streamer/

# 配置文件（保留 .example 文件作为模板）
**/solana.yaml
**/trading.yaml

!pumpswap_trade/config/dev/solana.yaml
!pumpswap_trade/config/dev/trading.yaml
!pumpswap_trade/config/prod/solana.yaml
!pumpswap_trade/config/prod/trading.yaml
!pumpswap_trade_with_safekey/config/dev/solana.yaml
!pumpswap_trade_with_safekey/config/dev/trading.yaml
!pumpswap_trade_with_safekey/config/prod/solana.yaml
!pumpswap_trade_with_safekey/config/prod/trading.yaml
!pumpfun_trade/config/dev/solana.yaml
!pumpfun_trade/config/dev/trading.yaml
!pumpfun_trade/config/prod/solana.yaml
!pumpfun_trade/config/prod/trading.yaml
!pumpfun_trade_with_safekey/config/dev/solana.yaml
!pumpfun_trade_with_safekey/config/dev/trading.yaml
!pumpfun_trade_with_safekey/config/prod/solana.yaml
!pumpfun_trade_with_safekey/config/prod/trading.yaml

# 密钥文件
**/keystore.json

# 环境变量文件
**/.env
!.env.example
